.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
.git/**
node_modules/**
out/test/**
test/**
__tests__/**
jest.config.js
webpack.config.js
.eslintrc.js
.prettierrc
.prettierignore
.editorconfig
.npmrc
.npmignore
.travis.yml
.gitlab-ci.yml
coverage/**
!images/**